// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';


.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

#arrow {
padding: 50px;

}




body {
  font: 400 22px Karla, sans-serif;
}

h1 {
  font: 700 44px Rubik, sans-serif;

}




#projectpic {
	width: 77%;
    	height: auto;
}


#specialIcon {
	color: #f9f1ed;
}

#box_title {
	padding:0px;
}
.FaArrowAltCircleDown {
	color: #ECE7E3;
}

#header {
	background-color: #fbfbff;

}

#skills {
	background-color: #dae4f2;

}

.Link {
	text-color: #black;
}

#navbarMenuHeroA {
	font: 400 18px Karla, sans-serif;

	
}
	
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-item:hover {
    font-weight: bold;
	


}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $danger
	}
	
}
h3 {
	text-align: center;
}

p::before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
  pointer-events: none;
}

.menu_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 9%;
  background-color:#white;
	max-height: calc(100vh - 7rem);
	overflow-y: visible;
	overflow-x: visible;
}

#menu {
	 margin: 0;
   	 padding: 0.1em;
  font-size: 80%;

}


.tile {
	background-color: #E6E5E5;
}


a {
	border-bottom: none;
	 
	}

.is-horizontal-center {
  justify-content: center;
	
}


.content {
	padding: 1rem 1rem;
}
#center {
	text-align: center
}

#here {
	font-size: 0.9rem;
}
#convoy_head {
	background-color: #000080;
}

#convoy_process {
	background-color: #000080;
}

#ncr_box {
	background-color: #47b039;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;

}

.content {
    height: 100%;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;

	
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #eb3f3b;
  height: 5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}