// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';


.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

#arrow {
padding: 50px;

}

h1 {
	font-family: 'Gilroy', sans-serif; 
	font-size: 44px;
}

#projectpic {
	width: 77%;
    	height: auto;
}


#specialIcon {
	color: #f9f1ed;
}

#box_title {
	padding:0px;
}
.FaArrowAltCircleDown {
	color: #ECE7E3;
}

	
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-item:hover {
    font-weight: bold;
	text-color: black;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	font-family: "Lora", serif;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $black
	}
	
}
h3 {
	text-align: center;
}

p::before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
  pointer-events: none;
}

.menu_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 9%;
  background-color:#F5F5F5;
}


.tile {
	background-color: #E6E5E5;
}


a {
	border-bottom: none;
	}

.is-horizontal-center {
  justify-content: center;
	
}

.box {
	padding: 2.5rem 2.5rem;
	
}
.content {
	padding: 1rem 1rem;
}
#center {
	text-align: center
}

#here {
	font-size: 0.94rem;
}
