// VARIABLES


$primary-color: #000000;
$secondary-color: #000000;
$danger: #EB3F3B; 
$box-padding: 1rem;
$box-radius: 1px;	
$title-color: #383535;
$grey: #ECE7E3;
$warning: #F9C77B;
$subtitle-size: 1rem;
$has-color-eggshell: #f6f6f6;
$navbar-item-hover-color:  #EB3F3B;  
$navbar-item-hover-background-color: #dae4f2;
		


