// VARIABLES


$primary-color: #000000;
$secondary-color: #000000;
$family-primary	: 'Avenir', sans-serif;
$font-stack: "Gilroy", sans-serif;
$box-padding: 1rem;
$box-radius: 1px;	
$title-color: #383535;
$grey: #ECE7E3;
$warning: #F9C77B;
$subtitle-size: 1rem;
$has-color-eggshell: #f6f6f6;


